<div class="main_content">
    <div class="main_pic">
        <img src="/src/img/pic1.png" width="50%" alt="pic1">
        <div class="right_title">
            <div class="first_title">
                <h1>Безопасная Разработка</h1>
            <p>именно так переводится название нашей компании, <br> мы создаем однастраничники и SPA приложения. </p>
            </div>
            <div class="scnd_title">
                <h1>Низкий ценовой диапазон</h1>
            <p>обуславливается профессиональным уровнем 
              <br> нашего специалиста, а именно <b>Junior++</b></p>
            </div>
            <div class="scnd_title">
                <h1>UI/UX Специалисты</h1>
            <p>создадим вам макет сайта и 
              <br>продумаем пользовательский интерфейс</p>
            </div>
            <button class="go_Site" id="goSite">Заказать сайт</button>
        </div>
    </div>
    <div class="line">
        <img src="/src/img/lines 1.svg" width="100%" alt="lines">
        <h2>Технологический стек</h2>
    </div>
    <section class="technical_stack">
        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/Bootstrap_logo 1.svg" alt="Bootstrap_logo">
                <h3>HTML/CSS/SCSS<br>BOOTSTRAP</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>

        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/node-js 1.svg" alt="node-js">
                <h3>NODE.JS<br>NPM/YARN/BABEL</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>

        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/js 1.svg" alt="js logo">
                <h3>JAVA SCRIPT<br>SPA</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>

        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/Wordpress 1.svg" alt="Wordpress">
                <h3>WORDPRESS<br>TILDA</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>

        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/Wordpress 1.svg" alt="Wordpress">
                <h3>WORDPRESS<br>TILDA</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>

        <article class="stack">
            <div class="stack_content">
                <img class="pic" src="/src/img/icon/Wordpress 1.svg" alt="Wordpress">
                <h3>WORDPRESS<br>TILDA</h3>
                <p>#языки_верстки #макеты #загатовки #дизайн_верстка #style #visual</p>
            </div>
        </article>
    </section>
    <p class="after_title">Опыт по каждому из стеков от 2х лет*</p> 
    <div class="line">
        <img src="/src/img/lines 1.svg" width="100%" alt="lines">
        <h2>Сертификаты специалиста</h2>
    </div>
    <div class="slider">
        <div class="lineS">
            <div class="slide"> <img src="/src/img/slides/Снимок экрана 2022-03-09 173716 1.jpg" alt=""></div>
            <div class="slide"><img src="/src/img/slides/Снимок экрана 2022-03-09 173704 1.jpg" alt=""></div>
            <div class="slide"><img src="/src/img/slides/Снимок экрана 2022-03-09 173652 1.jpg" alt=""></div>
            <div class="slide"><img src="/src/img/slides/Снимок экрана 2022-03-09 173640 1.jpg" alt=""></div>
            <div class="slide"><img src="/src/img/slides/Снимок экрана 2022-03-09 173622 1.jpg" alt=""></div>
            <div class="slide"><img src="/src/img/slides/Снимок экрана 2022-03-09 173605 1.jpg" alt=""></div>
        </div>
    </div>
    <!-- <div class="line"> -->
        <!-- <img src="/src/img/lines 1.svg" width="100%" alt="lines"> -->
        <!-- <h2>Программа стажировки</h2> -->
    <!-- </div> -->
    <!--  -->
    <!-- <section class="area_flex"> -->
        <!--  -->
    <!-- </section> -->
    

    <!-- <section class="students"> -->
        <!-- <div class="students_content"> -->
            <!-- <article class="student_time"> -->
                <!-- <h1>От новичка <br> до специалиста <br> за 2 недели</h1> -->
                <!-- <ul> -->
                    <!-- <li>Быстрый путь развития</li> -->
                    <!-- <li>Наставничество</li> -->
                    <!-- <li>Реальные заказы в портфолио</li> -->
                <!-- </ul> -->
                <!-- <button class="goStudents" id="goStud">Стать участником</button> -->
            <!-- </article> -->
        <!-- </div> -->
    <!-- </section> -->
</div>

