<div class="body_work">
    <div class="body_content">
        <div class="onepage_pic">
            <div class="left_title">
                <div class="title_onpage">
                    <h3>Одностраничники</h3>
                    <p class="about_onepage">сайты которые представляют вашу компанию в <br>
                        виде вашей личной визитки - с гиперссылками на ваши <br>
                        внешние ресурсы/ социальные сети. Один из самых <br>
                        бюджетных вариантов сайта, но не менее привлекательный<br>
                        вариант, использование:
                    </p>
                    <li><b>HTML (Перенос макета в код)</b></li>
                    <li><b>CSS (Визуальное кодирование)</b></li>
                    <li><b>SCSS (Возможность использования препроцессора)</b></li>
                    <li><b>CSS Animation (Возможность использования анимации)</b></li>
                    <p class="about_variant">
                        Для Вас есть несколько вариантов исполнения процесса разработки:
                        <li><b>Верстка по вашему макету и сдача в виде zip архива</b></li>
                        <li><b>Верстка по нашему макету и сдача в виде zip архива</b></li>
                        <li><b>Верстка под ключ (натяжка сайта на CMS систему* / <br>
                            прямое подключение на доменную зону и хостинг TimeWeb)</b></li>  
                    </p>
                </div>
                <button class="btnOnePage">Заказать сайт</button>
            </div>
            <img src="/src/img/Pngtree 1.png" width="50%" alt="pic develop">
        </div>

        <div class="spa_pic">
            <img src="/src/img/pngwing.com (1).png" width="50%" alt="pic develop">
            <div class="left_title">
                <div class="title_onpage">
                    <h3>SPA(Single Page Application on vanila JS)</h3>
                    <p class="about_onepage">сайты сделанные на основе приложения, приемущества:
                    </p>
                    <li><b>Быстрая загрузка </b></li>
                    <li><b>переход между страницами без перезагрузки сайта</b></li>
                    <li><b>SPA сделанн без фреймворка</b></li>
                    <li><b>движок на JavaScript</b></li>
                    <p class="about_variant">
                        Для Вас есть несколько вариантов исполнения процесса разработки:
                    <li><b>Верстка по вашему макету и сдача в виде zip архива</b></li>
                    <li><b>Верстка по нашему макету и сдача в виде zip архива</b></li>
                    <li><b>Верстка под ключ (натяжка сайта на CMS систему* / <br>
                        прямое подключение на доменную зону и хостинг TimeWeb)</b></li>  
                    </p>
                </div>
                <button class="btnSPA" id="spaBtn">Заказать сайт</button>
            </div>
        </div>   
        
        <div class="figma_pic">
            <div class="left_title">
                <div class="title_onpage">
                    <h3>Макет FIGMA от нашей компании</h3>
                    <p class="about_onepage">вы можете обратиться за разработкой своего сайта и со своим макетом, <br>
                        если же у вас его нет - мы сделаем свой под ваши параметры, <br>
                        вам просто предоставить образец, каким вы хотите видеть свой сайт <br>
                        так же прикрепить к образцам весь текст вашей продукции, а мы его <br>
                        расставим в логическом порядке на сайте, мы предоставляем только <br>
                        макеты с графическим дизайном без художественных элементов.
                    </p>
                    <li><b>FIGMA (программа для работы с макетом)</b></li>
                    <li><b>Ui (user interface)</b></li>
                    <li><b>UX(user expereance)</b></li>
                </div>
                <button class="btnFigma" id="figmaBtn">Заказать макет</button>
            </div>
            <img src="/src/img/pngwing.com.png" width="50%" alt="pic develop">
        </div>
    </div>
</div>